* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#all {
    width: 100%;
    min-height: 100vh;
}

/* 顶部 */
#top {
    height: 60px;
    display: flex;
    background: #0099CC;
    color: #fff;
}

#top1 {
    width: 200px;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    font-weight: bold;
}

#top2 {
    flex: 1;
}

#top3 {
    width: 200px;
    text-align: center;
    line-height: 60px;
}

/* 主体 */
#bottom {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* 左侧 */
#bleft {
    width: 200px;
    background: #293038;
    color: #fff;
}

#ltop {
    height: 160px;
    text-align: center;
    padding-top: 30px;
    border-bottom: 1px solid #444;
}

#ltop img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#lbottom li {
    height: 48px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
}

#lbottom li:hover {
    background: #363F4A;
}

/* 右侧 */
#bright {
    flex: 1;
    padding: 20px;
    background: #ECECEC;
}
