<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jmu.ccz.fs.mapper.CartMapper">

    <!-- 插入新商品 -->
    <insert id="insert" parameterType="jmu.ccz.fs.pojo.CartShop" useGeneratedKeys="true" keyProperty="cid">
        insert into carshop (uid, pid, numbers)
        values (#{uid}, #{pid}, #{numbers})
    </insert>

    <!-- 查某用户是否已存在该商品 -->
    <select id="selectByUidPid" parameterType="jmu.ccz.fs.pojo.CartShop" resultType="jmu.ccz.fs.pojo.CartShop">
        select * from carshop where uid = #{uid} and pid = #{pid}
    </select>

    <!-- 更新数量 -->
    <update id="updateNumbers" parameterType="jmu.ccz.fs.pojo.CartShop">
        update carshop set numbers = numbers + #{numbers}
        where uid = #{uid} and pid = #{pid}
    </update>

    <select id="selectAll" resultType="jmu.ccz.fs.pojo.CartShop">
        select * from carshop
    </select>
</mapper>
